.board{
    display: flex;
    justify-content: center;
    .row {
        display: flex;
        flex-direction: row;
    }
    .winner {
        font-weight: 700;
        color: green;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        width: 500px;
    }
   
}
.resetButton {
    width: 200px;
    height: 50px;
    background-color: white;
    color: rgb(27, 27, 92);
    font-size: large;
    font-weight: 700;
    margin-top: 30px;
}